


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0%;
}

figure {
    margin: 0;
    padding: 0;
}

.header, .hero {
    background-color: #1F2937;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

.header {
    height: 75px;
    display: flex;
    position: fixed;
    align-items: center;
    width: 100%;
}

.header img {
    height: 100%;
    width: auto;
    margin-left: 10px;
}

.header-list {
    display: flex;
    position: absolute;
    gap: 2rem;
    align-items: center;
    right: 20px;

}

img {
    display: block;
}

.hero button {
    background-color: blue;
    border: none;
    padding: 10px;
    margin-left: 5px;
}

.hero {
    padding-top: 75px;
    padding: 12%;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.hero img {
    max-width: 500px;
    height: auto;
    border-radius: 4rem;
}
.hero h1 {
    font-size: 48px;
    color: #F9FAF8;
}
.pages {
    
}

